<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2021 NetEase, Inc.  All rights reserved.
  ~ Use of this source code is governed by a MIT license that can be found in the LICENSE file.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netease.yunxin.app.wisdom.education">

    <application
        android:name=".EduApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>